.footer {
  background: #000;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 4rem 4rem;
  color: white;
}

h4 {
  font-size: 1.5rem;
  color: white;
  position: relative;
}

h4::before {
  content: "";
  height: 5px;
  width: 10px;
  top: 10px;
  left: -25px;
  background: linear-gradient(90deg, #ff7724, #ff1c1c);
  position: absolute;
}

h4:hover::before {
  width: 17px;
  transition: 400ms;
}

.footer-container p {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: justify;
  position: relative;
}

.footer-contato {
  margin: 0 auto;
  color: #a1a1a1;
}

.footer-contato p::before {
  content: "";
  height: 5px;
  width: 10px;
  top: 8px;
  left: -25px;
  background: linear-gradient(90deg, #ff7724, #ff1c1c);
  position: absolute;
}

.footer-contato p:hover::before {
  width: 17px;
  transition: 400ms;
}

.footer-texto {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.footer-texto q {
  font-size: 1.25rem;
}

.footer-texto p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.footer-texto span {
  display: inline-block;
  margin-top: 0.8rem;
  color: #a1a1a1;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 0.5rem;
  }
  .footer-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-contato h4 {
    padding: 1rem;
  }

  .footer-contato p {
    margin: 0;
    flex-grow: 0;
  }
  .footer-contato h4::before,
  .footer-contato p::before {
    display: none;
  }
  .footer-texto q {
    font-size: 1.125rem;
  }
}
