#formacao {
  background: #111;
  color: white;
  padding: 2rem;
  text-align: center;
}

#formacao h3 {
  margin-top: 2rem;
  font-size: 2rem;
}

.formacao {
  background: #111;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  gap: 2rem;
}

.esportes > p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
  padding: 0 0 2rem 0;
}

.formacao-lista {
  display: flex;
  gap: 1rem;
}

.formacao-lista li {
  background: #000;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 0.5rem;
}

.formacao-lista li::before {
  content: "";
  width: 4px;
  height: 25px;
  top: 8px;
  left: -5px;
  background: linear-gradient(#ff1c1c, #ff7724);
  position: absolute;
}

.formacao-lista li:hover::before {
  scale: 1.5;
  transition: 500ms;
}

.formacao-lista li span {
  display: inline-block;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a1a1a1;
}

.formacao-lista p + span {
  display: inline-block;
  margin-top: 4rem;
}

.developer > p {
  font-size: 1rem;
  line-height: 1.4;
  text-align: justify;
  padding: 0 0 2rem 0;
}

@media (max-width: 1200px) {
  .formacao {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  #formacao {
    background: #111;
    color: white;
    padding: 2rem;
    text-align: center;
  }

  #formacao h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .formacao {
    padding: 2rem;
    gap: 1rem;
  }
  .formacao-lista {
    flex-direction: column;
  }
}
