.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  height: 40px;
  border-bottom: 1px solid #a1a1a1;
  padding: 1.5rem 6rem;
}

.header p {
  font-size: 1.25rem;
  color: white;
}

.header a {
  font-size: 1.25rem;
  color: white;
}

.menu-nav {
  display: flex;
  gap: 2rem;
}

.menu-nav a {
  display: block;
  font-size: 1.25rem;
  color: white;
  padding: 1rem 1rem;
}

.menu-nav a:hover {
  background: linear-gradient(90deg, #ff1c1c, #ff7724);
  border-radius: 4px;
}

.btn-mobile {
  display: none;
}

/* menu mobile */

@media (max-width: 950px) {
  .header {
    padding: 2rem 3rem;
    gap: 2rem;
  }
  .nav.ativo .menu-nav {
    visibility: visible;
    height: 11rem;
  }
  .menu-nav {
    display: block;
    position: absolute;
    height: 0;
    top: 134px;
    right: 0;
    background: black;
    border-radius: 0 0 0 4px;
    z-index: 999;
    transition: 400ms;
    visibility: hidden;
    overflow-y: hidden;
  }
  .menu-nav a {
    padding: 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .btn-mobile {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid white;
  }
  .hamburguer::after,
  .hamburguer::before {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 300ms;
  }
  .nav.ativo .hamburguer {
    border-top: transparent;
  }
  .nav.ativo .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .nav.ativo .hamburguer::before {
    transform: rotate(135deg);
  }
}

@media (max-width: 500px) {
  .header {
    padding: 1.5rem 2.25rem;
    gap: 1rem;
  }
}
