.container-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000;
  color: white;
  padding: 2rem;
}

.img-intro {
  margin: 0 auto;
  padding: 1rem 4.5rem;
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem 2rem 6rem 4rem;
  justify-content: end;
}

.resume h1 {
  font-size: 2.5rem;
  position: relative;
}

.resume h1::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 7.5px;
  background: linear-gradient(90deg, #ff7724, #ff1c1c);
  position: absolute;
  top: 20px;
  left: -27.5px;
}

.resume h1:hover::before {
  width: 17.5px;
  transition: 300ms;
}

.resume p {
  font-size: 1.75rem;
}

.resume span {
  line-height: 1.5;
  max-width: 80vh;
  text-align: justify;
}

.resume button {
  display: inline-block;
  padding: 1rem 1rem;
  background: linear-gradient(90deg, #ff7724, #ff1c1c);
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 850px) {
  .container-intro {
    grid-template-columns: 1fr;
    padding: 1.5rem 1.5rem;
  }
  .resume {
    align-items: center;
    padding: 1rem;
  }
  .resume h1 {
    text-align: center;
    font-size: 2rem;
  }
  .resume p {
    font-size: 1.25rem;
    text-align: justify;
  }
  .resume span {
    text-align: justify;
  }
  .img-intro {
    padding: 1rem;
  }
  .resume h1::before {
    display: none;
  }
}
