.tecnologias {
  background: black;
  padding: 2rem 0 6rem 0;
}

.tecnologias ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.tecnologias ul li {
  max-width: 200px;
  max-width: 200px;
}

@media (max-width: 800px) {
  .tecnologias {
    padding: 2rem;
  }
}
